# RPC endpoint per chain (full URL, including API key if required)
RPC_MAINNET=https://rpc.ankr.com/eth/YOUR_ANKR_KEY
RPC_OPTIMISM=https://rpc.ankr.com/optimism/YOUR_ANKR_KEY
RPC_UNICHAIN=https://YOUR_UNICHAIN_RPC_URL
RPC_POLYGON=https://rpc.ankr.com/polygon/YOUR_ANKR_KEY
RPC_RONIN=https://ronin.drpc.org
RPC_MANTLE=https://rpc.ankr.com/mantle/YOUR_ANKR_KEY
RPC_BASE=https://rpc.ankr.com/base/YOUR_ANKR_KEY
RPC_ARBITRUM=https://rpc.ankr.com/arbitrum/YOUR_ANKR_KEY
RPC_LINEA=https://rpc.ankr.com/linea/YOUR_ANKR_KEY
RPC_SCROLL=https://rpc.ankr.com/scroll/YOUR_ANKR_KEY
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc
RPC_SEPOLIA=https://rpc.ankr.com/eth_sepolia/YOUR_ANKR_KEY
RPC_FUJI=https://api.avax-test.network/ext/bc/C/rpc

GITHUB_TOKEN_PAT=

# GITHUB_TOKEN=
