# Full QuickNode HTTP RPC URLs (not API keys)
RPC_MAINNET=
RPC_OPTIMISM=
RPC_UNICHAIN=
RPC_POLYGON=
RPC_MANTLE=
RPC_BASE=
RPC_ARBITRUM=
RPC_LINEA=
RPC_SCROLL=
RPC_AVALANCHE=
RPC_SEPOLIA=

# Public RPC endpoints (no key needed)
RPC_RONIN=https://api.roninchain.com/rpc

GITHUB_TOKEN_PAT=

# GITHUB_TOKEN=
