name: Run pull request creation

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: run-pull-request-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_TOKEN_PAT: ${{ secrets.GITHUB_TOKEN_PAT }}

    steps:
      - name: Checkout org repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          lfs: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Create pull request
        run: yarn cli:pull-request
